In [435]:
import pandas as pd
pd.options.display.max_columns = 999
pd.options.display.max_rows = 30
import numpy as np

In [208]:
[]##Define the object for the season team
class MyDf:
    def __init__(self, mydf):
        self.df = mydf

# Creating the teams dataframe

In [209]:
TEAMNAMES=pd.read_csv('../Data/from_sqlite_Data/Team.csv')
LEAGUENAMES= pd.read_csv('../Data/from_sqlite_Data/League.csv')
df2 = pd.read_csv('../Data/from_sqlite_Data/bigfinal.csv')
df2.drop(['Unnamed: 0'],axis=1,inplace=True)
df2.drop(['league_id'],axis=1,inplace=True)
df2.drop(['id'],axis=1,inplace=True)

In [210]:
season = df2
FTR=[]
for i in range(len(season)):
    if season['FTHG'][i]>season['FTAG'][i]:
        FTR.append('H')
    if season['FTHG'][i]<season['FTAG'][i]:
        FTR.append('A')
    if season['FTHG'][i]==season['FTAG'][i]:
        FTR.append('D')
    
season['FTR']=FTR

In [211]:
season=season.sort('Date')

/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [212]:
season.reset_index(inplace=True)

In [213]:
season.drop(['index'],axis=1,inplace=True)

In [214]:
#season['season']=['2016/2017']*len(season)

In [215]:
teams=season.HomeTeam.unique()
allteamsresults=[]
for i in teams:
    path=pd.DataFrame()            
    path = season[(season["HomeTeam"] == i) | (season['AwayTeam'] == i )] 
    allteamsresults.append(MyDf(path))

In [216]:
def point_in_round_k(ALL_TEAM,i,team_index,where):
    
    home=where
    away= not home
    
    if home:
        if ALL_TEAM[team_index].df['FTR'][i]=='H':
            return 3
        if ALL_TEAM[team_index].df['FTR'][i]=='D':
            return 1
        if ALL_TEAM[team_index].df['FTR'][i]=='A':
            return 0
    #   
    if away:
        if ALL_TEAM[team_index].df['FTR'][i]=='H':
            return 0
        if ALL_TEAM[team_index].df['FTR'][i]=='D':
            return 1
        if ALL_TEAM[team_index].df['FTR'][i]=='A':
            return 3

In [217]:
def zero_or_big(a,b):
    if a-b>0:
        return a-b
    return 0

In [218]:
def poin_in_last_n_mathces(ALL_TEAM,i,team_index,where,round_index,n):
    if round_index<=n:
        return point_in_round_k(ALL_TEAM,i,team_index,where)

## Allteamsresults is a list of dataframes and each dataframe represents a specific team. To access info on a team use team index. The position of the team in the list "teams" gives  the index of the team in the "allteamsresults" list of dataframes.

## Now, lets calculate some other features

## 1) Goal scored and received - home and away.
### We will shift of one match back each calculation, which means, each row will have the present match and the statistics goals scored up to that day (before the match).

In [219]:
def calculate_for_team_i(ALL_TEAM,team_lists,team_index):
    
    #create the lists for goals 
    Goal_scored_home=[]
    Goal_received_home=[]
    Goal_scored_away=[]
    Goal_received_away=[]
    
    #total_goal
    total_goal_scored=[]
    total_goal_received=[]
    
    #create the list for averages goals
    Av_Goal_scored_home=[]
    Av_Goal_received_home=[]
   

    Av_Goal_scored_away=[]
    Av_Goal_received_away=[]
       
    #create the list for averages total goals
    Av_total_goal_scored=[]
    Av_total_goal_received=[]
    
    #create the lists for points
    Point_home=[]
    Point_away=[]

    total_point=[]

    #create the list for average Points
    Av_Point_home=[]
    Av_Point_away=[]

    Av_total_point=[]
    
    
    #Point in the last mathces
    
    T_L3M_Pnt=[]
    T_L5M_Pnt=[]
    
    H_L3M_Pnt=[]
    A_L3M_Pnt=[]
    
    H_L5M_Pnt=[]
    A_L5M_Pnt=[]
    
    
    
    #ROUND_INDEX
    round_index=[]

    
    k=1
    
    Goal_scored_home.append(0)
    Goal_received_home.append(0)
    Goal_scored_away.append(0)
    Goal_received_away.append(0)
    total_goal_scored.append(0)
    total_goal_received.append(0)
    Av_Goal_scored_home.append(0)
    Av_Goal_received_home.append(0)
    Av_Goal_scored_away.append(0)
    Av_Goal_received_away.append(0)
    Av_total_goal_scored.append(0)
    Av_total_goal_received.append(0)
    Point_home.append(0)
    Point_away.append(0)
    total_point.append(0)
    Av_Point_home.append(0)
    Av_Point_away.append(0)
    Av_total_point.append(0) 
    T_L3M_Pnt.append(0)
    T_L5M_Pnt.append(0)
    #H_L3M_Pnt.append(0)
    #A_L3M_Pnt.append(0)
    #H_L5M_Pnt.append(0)
    #A_L5M_Pnt.append(0)
    
    
    for h in allteamsresults[team_index].df['season'].unique():
    
        seasonal_index=allteamsresults[team_index].df[allteamsresults[team_index].df['season']==h].index
        Home=0
        Away=0
        total=0
        round_in=1
        tmp3=[]
        tmp5=[]
        
        for i in seasonal_index:
            
            round_index.append(round_in)
            round_index_2=round_in-1
            
            home_1=ALL_TEAM[team_index].df['HomeTeam'][i]==team_lists[team_index]
            away_1= not home_1
            

            if (round_in<=3):
                if home_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        T_L3M_Pnt.append(3)
                        tmp3.append(3)
                        #H_L3M_Pnt.append(3)
                        #A_L3M_Pnt.append(A_L3M_Pnt[k-1])
                    if ALL_TEAM[team_index].df['FTR'][i]=='D':
                        T_L3M_Pnt.append(1) 
                        tmp3.append(1)                        
                        #H_L3M_Pnt.append(1)
                        #A_L3M_Pnt.append(A_L3M_Pnt[k-1])
                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        T_L3M_Pnt.append(0)                        
                        tmp3.append(0)
                        #H_L3M_Pnt.append(0)
                        #A_L3M_Pnt.append(A_L3M_Pnt[k-1])
                #   
                if away_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        T_L3M_Pnt.append(0)
                        tmp3.append(0)
                        #H_L3M_Pnt.append(H_L3M_Pnt[k-1])
                        #A_L3M_Pnt.append(0)
                    if ALL_TEAM[team_index].df['FTR'][i]=='D':
                        T_L3M_Pnt.append(1)
                        tmp3.append(1)
                        #H_L3M_Pnt.append(H_L3M_Pnt[k-1])
                        #A_L3M_Pnt.append(1)
                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        T_L3M_Pnt.append(3)
                        tmp3.append(3)
                        #H_L3M_Pnt.append(H_L3M_Pnt[k-1])
                        #A_L3M_Pnt.append(3)
            #                        
            if (round_in<=5):
                if home_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        T_L5M_Pnt.append(3)
                        tmp5.append(3)
                        #H_L5M_Pnt.append(3)
                        #A_L5M_Pnt.append(A_L5M_Pnt[k-1])

                    if ALL_TEAM[team_index].df['FTR'][i]=='D':
                        T_L5M_Pnt.append(1)
                        tmp5.append(1)
                        #H_L5M_Pnt.append(1)
                        #A_L5M_Pnt.append(A_L5M_Pnt[k-1])

                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        T_L5M_Pnt.append(0)
                        tmp5.append(0)
                        #H_L5M_Pnt.append(0)
                        #A_L5M_Pnt.append(A_L5M_Pnt[k-1])

                if away_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        T_L5M_Pnt.append(0)
                        tmp5.append(0)
                        #H_L5M_Pnt.append(H_L5M_Pnt[k-1])
                        #A_L5M_Pnt.append(0)

                    if ALL_TEAM[team_index].df['FTR'][i]=='D':
                        T_L5M_Pnt.append(1)
                        tmp5.append(1)
                        #H_L5M_Pnt.append(H_L5M_Pnt[k-1])
                        #A_L5M_Pnt.append(1)

                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        T_L5M_Pnt.append(3)
                        tmp5.append(3)
                        #H_L5M_Pnt.append(H_L5M_Pnt[k-1])
                        #A_L5M_Pnt.append(3)
                        
            '''if (round_in==3):
                if home_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        T_L3M_Pnt.append(3++T_L3M_Pnt[round_index_2-1]+T_L3M_Pnt[round_index_2-2])
                        #H_L3M_Pnt.append(3)
                        #A_L3M_Pnt.append(A_L3M_Pnt[k-1])
                    if ALL_TEAM[team_index].df['FTR'][i]=='D':
                        T_L3M_Pnt.append(1++T_L3M_Pnt[round_index_2-1]+T_L3M_Pnt[round_index_2-2])                        
                        #H_L3M_Pnt.append(1)
                        #A_L3M_Pnt.append(A_L3M_Pnt[k-1])
                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        T_L3M_Pnt.append(0++T_L3M_Pnt[round_index_2-1]+T_L3M_Pnt[round_index_2-2])                        
                        #H_L3M_Pnt.append(0)
                        #A_L3M_Pnt.append(A_L3M_Pnt[k-1])
                #   
                #
                if away_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        T_L3M_Pnt.append(0++T_L3M_Pnt[round_index_2-1]+T_L3M_Pnt[round_index_2-2])
                        #H_L3M_Pnt.append(H_L3M_Pnt[k-1])
                        #A_L3M_Pnt.append(0)
                    if ALL_TEAM[team_index].df['FTR'][i]=='D':
                        T_L3M_Pnt.append(1+T_L3M_Pnt[round_index_2-1]+T_L3M_Pnt[round_index_2-2])
                        #H_L3M_Pnt.append(H_L3M_Pnt[k-1])
                        #A_L3M_Pnt.append(1)
                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        T_L3M_Pnt.append(3++T_L3M_Pnt[round_index_2-1]+T_L3M_Pnt[round_index_2-2])
                        #H_L3M_Pnt.append(H_L3M_Pnt[k-1])
                        #A_L3M_Pnt.append(3)
            
            if (round_in==5):
                if home_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        T_L5M_Pnt.append(3+T_L5M_Pnt[round_index_2-1]+T_L5M_Pnt[round_index_2-2]+T_L5M_Pnt[round_index_2-3]
                                        +T_L5M_Pnt[round_index_2-4])
                        #H_L5M_Pnt.append(3)
                        #A_L5M_Pnt.append(A_L5M_Pnt[k-1])

                    if ALL_TEAM[team_index].df['FTR'][i]=='D':
                        T_L5M_Pnt.append(1+T_L5M_Pnt[round_index_2-1]+T_L5M_Pnt[round_index_2-2]+T_L5M_Pnt[round_index_2-3]
                                        +T_L5M_Pnt[round_index_2-4])
                        #H_L5M_Pnt.append(1)
                        #A_L5M_Pnt.append(A_L5M_Pnt[k-1])

                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        T_L5M_Pnt.append(0+T_L5M_Pnt[round_index_2-1]+T_L5M_Pnt[round_index_2-2]+T_L5M_Pnt[round_index_2-3]
                                        +T_L5M_Pnt[round_index_2-4])
                        #H_L5M_Pnt.append(0)
                        #A_L5M_Pnt.append(A_L5M_Pnt[k-1])
                if away_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        T_L5M_Pnt.append(0+T_L5M_Pnt[round_index_2-1]+T_L5M_Pnt[round_index_2-2]+T_L5M_Pnt[round_index_2-3]
                                        +T_L5M_Pnt[round_index_2-4])
                        #H_L5M_Pnt.append(H_L5M_Pnt[k-1])
                        #A_L5M_Pnt.append(0)

                    if ALL_TEAM[team_index].df['FTR'][i]=='D':
                        T_L5M_Pnt.append(1+T_L5M_Pnt[round_index_2-1]+T_L5M_Pnt[round_index_2-2]+T_L5M_Pnt[round_index_2-3]
                                        +T_L5M_Pnt[round_index_2-4])
                        #H_L5M_Pnt.append(H_L5M_Pnt[k-1])
                        #A_L5M_Pnt.append(1)

                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        T_L5M_Pnt.append(3+T_L5M_Pnt[round_index_2-1]+T_L5M_Pnt[round_index_2-2]+T_L5M_Pnt[round_index_2-3]
                                        +T_L5M_Pnt[round_index_2-4])
                        #H_L5M_Pnt.append(H_L5M_Pnt[k-1])
                        #A_L5M_Pnt.append(3)
'''
            if (round_in>3):
                if home_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        tmp3.append(3)
                        del tmp3[0]
                        T_L3M_Pnt.append(sum(tmp3))

                    if ALL_TEAM[team_index].df['FTR'][i]=='D':  
                        tmp3.append(1)
                        del tmp3[0]
                        T_L3M_Pnt.append(sum(tmp3))
                    
                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        tmp3.append(0)
                        del tmp3[0]
                        T_L3M_Pnt.append(sum(tmp3))
                        
                if away_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        tmp3.append(0)
                        del tmp3[0]
                        T_L3M_Pnt.append(sum(tmp3))
                        
                    if ALL_TEAM[team_index].df['FTR'][i]=='D':  
                        tmp3.append(1)
                        del tmp3[0]
                        T_L3M_Pnt.append(sum(tmp3))
                        
                        
                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        tmp3.append(3)
                        del tmp3[0]
                        T_L3M_Pnt.append(sum(tmp3))
                        
                        
            if (round_in>5):
                if home_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        tmp5.append(3)
                        del tmp5[0]
                        T_L5M_Pnt.append(sum(tmp5))
                        
                    if ALL_TEAM[team_index].df['FTR'][i]=='D':
                        tmp5.append(1)
                        del tmp5[0]
                        T_L5M_Pnt.append(sum(tmp5))
                        
                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        tmp5.append(0)
                        del tmp5[0]
                        T_L5M_Pnt.append(sum(tmp5))
                        
                if away_1:
                    if ALL_TEAM[team_index].df['FTR'][i]=='H':
                        tmp5.append(0)
                        del tmp5[0]
                        T_L5M_Pnt.append(sum(tmp5))
                        
                    if ALL_TEAM[team_index].df['FTR'][i]=='D':
                        tmp5.append(1)
                        del tmp5[0]
                        T_L5M_Pnt.append(sum(tmp5))
                        
                    if ALL_TEAM[team_index].df['FTR'][i]=='A':
                        tmp5.append(3)
                        del tmp5[0]
                        T_L5M_Pnt.append(sum(tmp5))
            
            round_in=round_in+1
            

            #HOME
            if ALL_TEAM[team_index].df['HomeTeam'][i]==team_lists[team_index]:

                #Goal scored, received and total
                Goal_scored_home.append(ALL_TEAM[team_index].df['FTHG'][i]+Goal_scored_home[k-1])
                Goal_received_home.append(ALL_TEAM[team_index].df['FTAG'][i]+Goal_received_home[k-1])  
                Goal_scored_away.append(Goal_scored_away[k-1])
                Goal_received_away.append(Goal_received_away[k-1])
                total_goal_scored.append(total_goal_scored[k-1]+ALL_TEAM[team_index].df['FTHG'][i])
                total_goal_received.append(total_goal_received[k-1]+ALL_TEAM[team_index].df['FTAG'][i])

                #Goal average
                Home=Home+1
                total=Home+Away
                Av_Goal_scored_home.append(float(Goal_scored_home[k])/Home)
                Av_Goal_received_home.append(float(Goal_received_home[k])/Home)
                Av_Goal_scored_away.append(Av_Goal_scored_away[k-1])
                Av_Goal_received_away.append(Av_Goal_received_away[k-1])
                Av_total_goal_scored.append(float(total_goal_scored[k])/total)
                Av_total_goal_received.append(float(total_goal_received[k])/total)


                #Point winning
                if ALL_TEAM[team_index].df['FTR'][i]=='H':
                    Point_home.append(3+Point_home[k-1])
                    Av_Point_home.append(float(Point_home[k])/Home)
                    total_point.append(3+total_point[k-1])
                    Av_total_point.append(float(total_point[k])/total)

                #Point draw
                if ALL_TEAM[team_index].df['FTR'][i]=='D':
                    Point_home.append(1+Point_home[k-1])
                    Av_Point_home.append(float(Point_home[k])/Home)
                    total_point.append(1+total_point[k-1])
                    Av_total_point.append(float(total_point[k])/total)

                #Point lost
                if ALL_TEAM[team_index].df['FTR'][i]=='A':
                    Point_home.append(0+Point_home[k-1])
                    Av_Point_home.append(float(Point_home[k])/Home)   
                    total_point.append(0+total_point[k-1])
                    Av_total_point.append(float(total_point[k])/total)

                Point_away.append(Point_away[k-1])
                Av_Point_away.append(Av_Point_away[k-1])

            #AWAY
            if ALL_TEAM[team_index].df['HomeTeam'][i]!=team_lists[team_index]:

                #Goal scored, received and total
                Goal_scored_away.append(ALL_TEAM[team_index].df['FTAG'][i]+Goal_scored_away[k-1])
                Goal_received_away.append(ALL_TEAM[team_index].df['FTHG'][i]+Goal_received_away[k-1])
                Goal_scored_home.append(Goal_scored_home[k-1])
                Goal_received_home.append(Goal_received_home[k-1])
                total_goal_scored.append(total_goal_scored[k-1]+ALL_TEAM[team_index].df['FTAG'][i])
                total_goal_received.append(total_goal_received[k-1]+ALL_TEAM[team_index].df['FTHG'][i])

                #Goal average
                Away=Away+1
                total=Home+Away

                Av_Goal_scored_away.append(float(Goal_scored_away[k])/Away)
                Av_Goal_received_away.append(float(Goal_received_away[k])/Away)
                Av_Goal_scored_home.append(Av_Goal_scored_home[k-1])
                Av_Goal_received_home.append(Av_Goal_received_home[k-1])
                Av_total_goal_scored.append(float(total_goal_scored[k])/total)
                Av_total_goal_received.append(float(total_goal_received[k])/total)


                #Point winning
                if ALL_TEAM[team_index].df['FTR'][i]=='A':
                    Point_away.append(3+Point_away[k-1])
                    Av_Point_away.append(float(Point_away[k])/Away)
                    total_point.append(3+total_point[k-1])
                    Av_total_point.append(float(total_point[k])/total)

                #Point draw
                if ALL_TEAM[team_index].df['FTR'][i]=='D':
                    Point_away.append(1+Point_away[k-1])
                    Av_Point_away.append(float(Point_away[k])/Away)

                    total_point.append(1+total_point[k-1])
                    Av_total_point.append(float(total_point[k])/total)

                #Point lost
                if ALL_TEAM[team_index].df['FTR'][i]=='H':
                    Point_away.append(0+Point_away[k-1])
                    Av_Point_away.append(float(Point_away[k])/Away)

                    total_point.append(0+total_point[k-1])
                    Av_total_point.append(float(total_point[k])/total)


                Point_home.append(Point_home[k-1])
                Av_Point_home.append(Av_Point_home[k-1])
                
                


            k=k+1

        
        Goal_scored_home[-1]=0
        Goal_received_home[-1]=0
        Goal_scored_away[-1]=0
        Goal_received_away[-1]=0
        total_goal_scored[-1]=0
        total_goal_received[-1]=0


        Av_Goal_scored_home[-1]=0
        Av_Goal_received_home[-1]=0
        Av_Goal_scored_away[-1]=0
        Av_Goal_received_away[-1]=0
        Av_total_goal_scored[-1]=0
        Av_total_goal_received[-1]=0


        Point_home[-1]=0
        Point_away[-1]=0
        Av_Point_home[-1]=0
        Av_Point_away[-1]=0

        total_point[-1]=0
        Av_total_point[-1]=0
        
        
        T_L3M_Pnt[-1]=0
        T_L5M_Pnt[-1]=0
        

    del Goal_scored_home[-1]
    del Goal_received_home[-1]
    del Goal_scored_away[-1]
    del Goal_received_away[-1]
    del total_goal_scored[-1]
    del total_goal_received[-1]


    del Av_Goal_scored_home[-1]
    del Av_Goal_received_home[-1]
    del Av_Goal_scored_away[-1]
    del Av_Goal_received_away[-1]
    del Av_total_goal_scored[-1]
    del Av_total_goal_received[-1]


    del Point_home[-1]
    del Point_away[-1]
    del Av_Point_home[-1]
    del Av_Point_away[-1]

    del total_point[-1]
    del Av_total_point[-1]
    
    del T_L3M_Pnt[-1]
    del T_L5M_Pnt[-1]
    
    ALL_TEAM[team_index].df['Round']=round_index
    
    ALL_TEAM[team_index].df['T_L3M']=T_L3M_Pnt
    ALL_TEAM[team_index].df['T_L5M']=T_L5M_Pnt
    
    ALL_TEAM[team_index].df['GS_H']=Goal_scored_home
    ALL_TEAM[team_index].df['GS_A']=Goal_scored_away
    ALL_TEAM[team_index].df['GR_H']=Goal_received_home
    ALL_TEAM[team_index].df['GR_A']=Goal_received_away
    ALL_TEAM[team_index].df['TGS']=total_goal_scored
    ALL_TEAM[team_index].df['TGR']=total_goal_received
    
    
    ALL_TEAM[team_index].df['AGS_H']=Av_Goal_scored_home
    ALL_TEAM[team_index].df['AGS_A']=Av_Goal_scored_away
    ALL_TEAM[team_index].df['AGR_H']=Av_Goal_received_home
    ALL_TEAM[team_index].df['AGR_A']=Av_Goal_received_away
    ALL_TEAM[team_index].df['ATGS']=Av_total_goal_scored
    ALL_TEAM[team_index].df['ATGR']=Av_total_goal_received

    
    ALL_TEAM[team_index].df['Pnt_H']=Point_home
    ALL_TEAM[team_index].df['Pnt_A']=Point_away
    ALL_TEAM[team_index].df['TOTPT']=total_point

    
    ALL_TEAM[team_index].df['Av_Pnt_H']=Av_Point_home
    ALL_TEAM[team_index].df['Av_pnt_A']=Av_Point_away
    ALL_TEAM[team_index].df['Av_tot_pnt']=Av_total_point
    
    
    return ALL_TEAM[team_index].df

In [220]:
#calculate_for_team_i(allteamsresults,teams,40)

In [221]:
for i in range(len(teams)):
    allteamsresults[i].df=calculate_for_team_i(allteamsresults,teams,i)

/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:473: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:475: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:476: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:478: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:479: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:480: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:481: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:482: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:483: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:486: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:487: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:488: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:489: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:490: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:495: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:496: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:499: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:500: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:501: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [222]:
tmp=pd.DataFrame(columns=(
                          'H_ROUND',
    
                          'H_TP3',
                          'H_TP5',
                            
    
                          'H_GS_H', 
                          'H_GS_A', 
                          'H_GR_H', 
                          'H_GR_A', 
                          'H_TGS',
                          'H_TGR', 
                          
                          'H_AvGS_H' ,
                          'H_AvGS_A' ,
                          'H_AvGR_H',
                          'H_AvGR_A',
                          'H_Av_TGS',
                          'H_Av_TGR', 
                          
                          
                          'H_Pnt_H' ,
                          'H_Pnt_A',
                          'H_T_pnt',
                          'H_Av_Pnt_H',
                          'H_Av_pnt_A',
                          'H_Av_T_pnt',
                          
                          'A_ROUND',
    
                          'A_TP3',
                          'A_TP5',

                          'Aw_GS_H', 
                          'Aw_GS_A', 
                          'Aw_GR_H', 
                          'Aw_GR_A', 
                          'Aw_TGS',
                          'Aw_TGR', 
                          
                          'Aw_AvGS_H' ,
                          'Aw_AvGS_A' ,
                          'Aw_AvGR_H',
                          'Aw_AvGR_A',
                          'Aw_Av_TGS',
                          'Aw_Av_TGR', 
                          
                          
                          'Aw_Pnt_H' ,
                          'Aw_Pnt_A',
                          'Aw_T_pnt',
                          'Aw_Av_Pnt_H',
                          'Aw_Av_pnt_A',
                         
                          'Aw_Av_T_pnt',
                          
                          
                          
                         )
                )

In [223]:
for i in season.index:
    date=season['Date'][i]
    Home=season['HomeTeam'][i]
    Away=season['AwayTeam'][i]
    
    home_index=pd.Series(teams)[teams==Home].index[0]
    away_index=pd.Series(teams)[teams==Away].index[0]
    tobeappend=list(allteamsresults[home_index].df.loc[i].iloc[38:]) + list(allteamsresults[away_index].df.loc[i].iloc[38:])
    tmp.loc[i]=tobeappend

In [224]:
final=pd.merge(left=season, right=tmp, left_index=True, right_index=True)

In [225]:
final['DIFF_TP']=final['H_T_pnt']-final['Aw_T_pnt']
final['DIFF_HP-AP']=final['H_Pnt_H']-final['Aw_Pnt_A']

final['SUMM_HGSH+HGSH+AGRA']=final['H_GS_H']+final['Aw_GR_A']
final['SUMM_HGRH+AGSA']=final['H_GR_H']+final['Aw_GS_A']
final['SUMM_HTGS+ATGR']=final['H_TGS']+final['Aw_TGR']
final['SUMM_HTGR+ATGS']=final['H_TGR']+final['Aw_TGS']

final['DIFF_L3MP']=final['H_TP3']-final['A_TP3']
final['DIFF_L5MP']=final['H_TP5']-final['A_TP5']


final['DIFF_av_TP']=final['H_Av_T_pnt']-final['Aw_Av_T_pnt']
final['DIFF_av_HP-AP']=final['H_Av_Pnt_H']-final['Aw_Av_pnt_A']

final['SUMM_av_HGSH+AGRA']=final['H_AvGS_H']+final['Aw_AvGR_A']
final['SUMM_av_HGRH+AGSA']=final['H_AvGR_H']+final['Aw_AvGS_A']

final['SUMM_av_HTGS+ATGR']=final['H_Av_TGS']+final['Aw_Av_TGR']
final['SUMM_av_HTGR+ATGS']=final['H_Av_TGR']+final['Aw_Av_TGS']

final['Goal/No_Goal'] = ((final['FTHG']>0 ) * 1)*((final['FTAG']>0) * 1)
final['Over2.5/Under2.5'] = ((final['FTHG'] + final['FTAG']) >2)*1
final['Over1.5/Under1.5'] = ((final['FTHG'] + final['FTAG']) >1)*1

In [601]:
final.to_csv('../Data/from_sqlite_Data/Realfinal_before_name_change.csv')

In [227]:
final=pd.read_csv('../Data/from_sqlite_Data/Realfinal.csv')

# ELO

In [228]:
import io
import requests

k=0
for i in final.Date.unique():
    try:
        a=i.replace('00:00:00','')
        a=a.replace(' ','')
        url='http://api.clubelo.com/'+a
        s=requests.get(url).content
        c=pd.read_csv(io.StringIO(s.decode('utf-8')))
        saveto='../Data/elo/'+a
        c.to_csv(saveto)
    except:
        'EmptyDataError: No columns to parse from file'
        k=k+1

In [229]:
concat=[]
k=0
for i in final.Date.unique():    
    a=i.replace('00:00:00','')
    a=a.replace(' ','')
    concat.append(pd.read_csv('../Data/elo/'+a))

In [230]:
all_elo=pd.concat(concat)

In [231]:
all_elo.to_csv('../Data/elo/elo_totale')

# Looking for differences dataframe with elo

In [547]:
def printme(a,b):
    
    for i in range(len(a)):
        print (a[i])
        print (b[i])
    return

In [573]:
final=pd.read_csv('../Data/from_sqlite_Data/Realfinal.csv')

In [574]:
our_team=final.HomeTeam.unique()
elo_team=all_elo.Club.unique()

for i in our_team:
    if i in elo_team:
        our_team=np.delete(our_team,np.argwhere(our_team==i))
        elo_team=np.delete(elo_team,np.argwhere(elo_team==i))

In [575]:
guesses_from_elo=[]
final_real=[]
no_guess=[]

for i in our_team:
    
    if len(difflib.get_close_matches(i,elo_team))>0:
        final_real.append(i)
        guesses_from_elo.append(list(difflib.get_close_matches(i,elo_team)))
       
    if len(difflib.get_close_matches(i,elo_team))==0:
            no_guess.append(i)

In [576]:
#printme(final_real,guesses_from_elo)

In [577]:
actual=['Stoke City','Sporting Lokeren',
        'Estrela Amadora','Chievo Verona',
        'Sevilla FC','Club Brugge KV','Real Madrid CF',
        'Villareal','SC Bastia', 'Bolton Wanderers', 'Wigan Athletic','Wolverhamptons Wanderers']
new=['Stoke','Lokeren','Amadora','Chievo','Sevilla','Brugge',
     'Real Madrid','CF Villareal','Bastia','Bolton','Wigan' , 'Wolves']

for i in range(len(new)):
    final.HomeTeam=final.HomeTeam.replace(actual[i],new[i])
    final.AwayTeam=final.AwayTeam.replace(actual[i],new[i])

In [578]:
our_team=final.HomeTeam.unique()
elo_team=all_elo.Club.unique()

for i in our_team:
    if i in elo_team:
        our_team=np.delete(our_team,np.argwhere(our_team==i))
        elo_team=np.delete(elo_team,np.argwhere(elo_team==i))

In [579]:
guesses_from_elo=[]
final_real=[]
no_guess=[]

for i in our_team:
    
    if len(difflib.get_close_matches(i,elo_team))>0:
        final_real.append(i)
        guesses_from_elo.append(list(difflib.get_close_matches(i,elo_team)))
       
    if len(difflib.get_close_matches(i,elo_team))==0:
            no_guess.append(i)

In [580]:
printme(guesses_from_elo,final_real)

['Young Boys']
BSC Young Boys
['Aarau', 'Farul']
FC Aarau
['Luzern', 'Lautern']
FC Luzern
['Bellinzona', 'Avellino']
AC Bellinzona
['Basel', 'FC Tiraspol']
FC Basel
['Sion']
FC Sion
['Vaduz', 'Cadiz']
FC Vaduz
['Grasshoppers']
Grasshopper Club Zürich
['Polonia Warszawa']
Legia Warszawa
['Valenciennes', 'Valencia']
Valenciennes FC
['Monaco']
AS Monaco
['Auxerre']
AJ Auxerre
['Le Mans']
Le Mans FC
['Widzew']
Widzew Łódź
['Le Havre']
Le Havre AC
['Hull']
Hull City
['Leverkusen']
Bayer 04 Leverkusen
['Nantes']
FC Nantes
['Nice']
OGC Nice
['Saint-Etienne']
AS Saint-Étienne
['Toulouse']
Toulouse FC
['Westerlo']
KVC Westerlo
['Roeselare']
KSV Roeselare
['Dender']
FCV Dender EH
['Cercle Brugge']
KSV Cercle Brugge
['Zulte Waregem']
SV Zulte-Waregem
['Karlsruhe']
Karlsruher SC
['Bielefeld']
DSC Arminia Bielefeld
['Wolfsburg', 'Wolfsberg']
VfL Wolfsburg
['Schalke']
FC Schalke 04
['St Mirren', 'St Truiden']
St. Mirren
['Lille']
LOSC Lille
['West Ham', 'Man United']
West Ham United
['Caen']
SM Caen
['Polonia Warszawa']
P. Warszawa
['Odra Wodzislaw']
Odra Wodzisław
['Man United', 'Sheffield United']
Manchester United
['Frankfurt', 'FSV Frankfurt']
Eintracht Frankfurt
['Jagiellonia']
Jagiellonia Białystok
['Genk']
KRC Genk
['Lorient', 'Forest']
FC Lorient
['Gent']
KAA Gent
['Grenoble']
Grenoble Foot 38
['Hannover']
Hannover 96
['Hamburg']
Hamburger SV
['Dortmund']
Borussia Dortmund
['Stuttgart']
VfB Stuttgart
['Hoffenheim']
TSG 1899 Hoffenheim
['Tottenham']
Tottenham Hotspur
['Blackburn']
Blackburn Rovers
['West Brom']
West Bromwich Albion
['Newcastle', 'Man United']
Newcastle United
['Anderlecht']
RSC Anderlecht
['Standard']
Standard de Liège
['Pacos Ferreira']
FC Paços de Ferreira
['Sporting', 'Sporting Fingal']
Sporting CP
['Charleroi', 'Sporting', 'Sporting Fingal']
Sporting Charleroi
['Kortrijk']
KV Kortrijk
['Man City', 'Bangor City']
Manchester City
['Leixoes']
Leixões SC
['Rio Ave']
Rio Ave FC
['Aarau', 'Estrela Amadora', 'Padova']
Amadora
['Lechia']
Lechia Gdańsk
['Porto']
FC Porto
['Bochum']
VfL Bochum
['Belenenses']
CF Os Belenenses
['Mechelen']
KV Mechelen
['Utrecht']
FC Utrecht
['Espanyol']
RCD Espanyol
['Benfica', 'Senica']
SL Benfica
['Valencia', 'Valenciennes', 'Valerenga']
Valencia CF
['Volendam', 'FC Kobenhavn']
FC Volendam
['Osasuna', 'CA Bastia']
CA Osasuna
['Heracles', 'Hercules']
Heracles Almelo
['Santander']
Racing Santander
['Numancia']
CD Numancia
['Nacional']
CD Nacional
['Braga', 'N Burgas', 'Banga']
SC Braga
['Maritimo']
CS Marítimo
['Heerenveen']
SC Heerenveen
['Den Haag']
ADO Den Haag
['Twente']
FC Twente
['Valladolid', 'Real Madrid B']
Real Valladolid
['Barcelona', 'Barcelona B', 'Charlton']
FC Barcelona
['Mallorca']
RCD Mallorca
['Almeria']
UD Almería
['Malaga']
Málaga CF
['Recreativo']
RC Recreativo
['Getafe']
Getafe CF
['Villarreal B', 'Villarreal']
Villarreal CF
['Breda']
NAC Breda
['Groningen']
FC Groningen
['StGallen']
FC St. Gallen
['Waalwijk']
RKC Waalwijk
['Korona']
Korona Kielce
['St Truiden', 'Saint-Etienne']
Sint-Truidense VV
['Montpellier']
Montpellier Hérault SC
['Venlo']
VVV-Venlo
['Freiburg']
SC Freiburg
['St Johnstone']
St. Johnstone FC
['Lens', 'Rennes']
RC Lens
['Sliema Wanderers']
Wolverhampton Wanderers
['Birmingham', 'Bangor City']
Birmingham City
['Olhanense']
S.C. Olhanense
['Zaragoza']
Real Zaragoza
['Tenerife']
CD Tenerife
['Thun']
FC Thun
['Lierse']
Lierse SK
['Eupen']
KAS Eupen
['Arles-Avignon']
AC Arles-Avignon
['Beira Mar']
SC Beira Mar
['Levante']
Levante UD
['St Pauli']
FC St. Pauli
['Sociedad']
Real Sociedad
['Servette']
Servette FC
['Dunfermline']
Dunfermline Athletic
['Lausanne']
FC Lausanne-Sports
['Podbeskidzie']
Podbeskidzie Bielsko-Biała
['Augsburg', 'Duisburg']
FC Augsburg
['Ajaccio']
AC Ajaccio
['Dijon']
Dijon FCO
['Gil Vicente']
Gil Vicente FC
['Swansea', 'Man City', 'Bangor City']
Swansea City
['Norwich', 'Cork City', 'Bangor City']
Norwich City
['Granada']
Granada CF
['Beveren']
Waasland-Beveren
['Ross County']
Ross County FC
['Dundee']
Dundee FC
['Troyes']
ES Troyes AC
['Zwolle']
PEC Zwolle
['Moreirense']
Moreirense FC
['Estoril']
Estoril Praia
['Duesseldorf']
Fortuna Düsseldorf
['Cambuur']
SC Cambuur
['Braunschweig']
Eintracht Braunschweig
['Verona']
Hellas Verona
['Elche']
Elche CF
['Arouca']
FC Arouca
['Cardiff', 'Cork City', 'Bangor City']
Cardiff City
['Oostende', 'Ostersund']
KV Oostende
['Gornik Leczna']
Górnik Łęczna
['Leicester', 'Pelister Bitola', 'Bristol City']
Leicester City
['Dordrecht']
FC Dordrecht
['Metz']
FC Metz
['Penafiel']
FC Penafiel
['Boavista', 'Paris FC']
Boavista FC
['Eibar']
SD Eibar
['Paderborn']
SC Paderborn 07
['Cordoba']
Córdoba CF
['Darmstadt']
SV Darmstadt 98
['Angers']
Angers SCO
['U Madeira']
Uniao da Madeira
['Ajaccio']
GFC Ajaccio
['Ingolstadt']
FC Ingolstadt 04
['Las Palmas']
UD Las Palmas

In [581]:
for i in range(len(guesses_from_elo)):
    final.HomeTeam=final.HomeTeam.replace(final_real[i],guesses_from_elo[i][0])
    final.AwayTeam=final.AwayTeam.replace(final_real[i],guesses_from_elo[i][0])

In [582]:
our_team=final.HomeTeam.unique()
elo_team=all_elo.Club.unique()

for i in our_team:
    if i in elo_team:
        our_team=np.delete(our_team,np.argwhere(our_team==i))
        elo_team=np.delete(elo_team,np.argwhere(elo_team==i))

In [583]:
guesses_from_elo=[]
final_real=[]
no_guess=[]

for i in our_team:
    
    if len(difflib.get_close_matches(i,elo_team))>0:
        final_real.append(i)
        guesses_from_elo.append(list(difflib.get_close_matches(i,elo_team)))
       
    if len(difflib.get_close_matches(i,elo_team))==0:
            no_guess.append(i)

In [584]:
printme(final_real,guesses_from_elo)

In [585]:
absent_final=['Neuch\xc3\xa2tel Xamax',
 'FC Z\xc3\xbcrich',
 'Lech Pozna\xc5\x84',
 'AS Nancy-Lorraine',
 'Heart of Midlothian',
 'FC Sochaux-Montb\xc3\xa9liard',
 'Stade Rennais FC',
 'Wis\xc5\x82a Krak\xc3\xb3w',
 '\xc5\x9al\xc4\x85sk Wroc\xc5\x82aw',
 'Girondins de Bordeaux',
 'Arka Gdynia',
 'Olympique Lyonnais',
 'Polonia Bytom',
 'Hamilton Academical FC',
 'FC Bayern Munich',
 'Paris Saint-Germain',
 'FC Energie Cottbus',
 'Inverness Caledonian Thistle',
 'GKS Be\xc5\x82chat\xc3\xb3w',
 'Ruch Chorz\xc3\xb3w',
 'Borussia M\xc3\xb6nchengladbach',
 'Olympique de Marseille',
 'Vit\xc3\xb3ria Guimar\xc3\xa3es',
 'SV Werder Bremen',
 'Hertha BSC Berlin',
 'Royal Excel Mouscron',
 'RAEC Mons',
 'Naval 1\xc2\xb0 de Maio',
 '1. FC K\xc3\xb6ln',
 'Roda JC Kerkrade',
 'N.E.C.',
 'AZ']

In [586]:
absent_elo=['Xamax',
 'Zuerich',
 'Lech',
 'Nancy',
 'Hearts',
 'Sochaux',
 'Rennes',
 'Wisla',
 'Slask',
 'Bordeaux',
 'Arka',
 'Lyon',
 'Bytom',
 'Hamilton',
 'Bayern',
 'Paris SG',
 'Cottbus',
 'Inverness',
 'Belchatow',
 'Ruch',
 'Gladbach',
 'Marseille',
 'Guimaraes',
 'Werder',
 'Hertha',
 'Mouscron',
 'Bergen',
 'Naval',
 'Koeln',
 'Roda',
 'Nijmegen',
 'Alkmaar']

In [587]:
for i in range(len(absent_final)):
    final.HomeTeam=final.HomeTeam.replace(absent_final[i],absent_elo[i])
    final.AwayTeam=final.AwayTeam.replace(absent_final[i],absent_elo[i])

In [588]:
our_team=final.HomeTeam.unique()
elo_team=all_elo.Club.unique()

for i in our_team:
    if i in elo_team:
        our_team=np.delete(our_team,np.argwhere(our_team==i))
        elo_team=np.delete(elo_team,np.argwhere(elo_team==i))

In [589]:
guesses_from_elo=[]
final_real=[]
no_guess=[]

for i in our_team:
    
    if len(difflib.get_close_matches(i,elo_team))>0:
        final_real.append(i)
        guesses_from_elo.append(list(difflib.get_close_matches(i,elo_team)))
       
    if len(difflib.get_close_matches(i,elo_team))==0:
            no_guess.append(i)

In [590]:
no=[]
for j in final.country_id.unique():
    a=final[final.country_id==j]
    #print('-----')
    #print (j)
    #print('-----')
    for i in no_guess:
        try:
            print( a[a.HomeTeam==i]['HomeTeam'].iloc[-1])
            no.append(i)
        except:
            'IndexError: single positional indexer is out-of-bounds'

Zagłębie Lubin
Pogoń Szczecin
Zawisza Bydgoszcz
Termalica Bruk-Bet Nieciecza
Partick Thistle F.C.
US Boulogne Cote D'Opale
Stade Brestois 29
Évian Thonon Gaillard FC
Stade de Reims
En Avant de Guingamp
1. FC Nürnberg
1. FSV Mainz 05
1. FC Kaiserslautern
SpVgg Greuther Fürth
Queens Park Rangers
Oud-Heverlee Leuven
Académica de Coimbra
Vitória Setúbal
"União de Leiria, SAD"
Reggio Calabria
RC Deportivo de La Coruña
Atlético Madrid
Athletic Club de Bilbao
Real Betis Balompié
Real Sporting de Gijón
Xerez Club Deportivo
Hércules Club de Fútbol
RC Celta de Vigo

In [596]:
elo_real_2=['Lubin', 'Pogon', 'Zawisza','Nieciecza','Partick','Boulogne','Brest','Evian TG','Reims','Guingamp','Nuernberg','Mainz','Karlsruhe','Fuerth','QPR','Leuven','Academica','Setubal','Leiria','Reggina','Depor','Atletico', 'Bilbao', 'Betis', 'Gijon','Xerez','Hercules','Celta']

In [597]:
for i in elo_real_2:
    if i not in all_elo.Club.unique():
        print(i)

In [594]:
printme(no,elo_real_2)

Zagłębie Lubin
Zaglebie
Pogoń Szczecin
Pogon
Zawisza Bydgoszcz
Zawisza
Termalica Bruk-Bet Nieciecza
Nieciecza
Partick Thistle F.C.
Partick
US Boulogne Cote D'Opale
Boulogne
Stade Brestois 29
Brest
Évian Thonon Gaillard FC
Evian TG
Stade de Reims
Reims
En Avant de Guingamp
Guingamp
1. FC Nürnberg
Nuernberg
1. FSV Mainz 05
Mainz
1. FC Kaiserslautern
Karlsruhe
SpVgg Greuther Fürth
Fuerth
Queens Park Rangers
QPR
Oud-Heverlee Leuven
Leuven
Académica de Coimbra
Academica
Vitória Setúbal
Setubal
"União de Leiria, SAD"
Leiria
Reggio Calabria
Reggina
RC Deportivo de La Coruña
Depor
Atlético Madrid
Atletico
Athletic Club de Bilbao
Bilbao
Real Betis Balompié
Betis
Real Sporting de Gijón
Gijon
Xerez Club Deportivo
Xerex
Hércules Club de Fútbol
Hercules
RC Celta de Vigo
Celta

In [598]:
for i in range(len(no)):
    final.HomeTeam=final.HomeTeam.replace(no[i],elo_real_2[i])
    final.AwayTeam=final.AwayTeam.replace(no[i],elo_real_2[i])

In [599]:
for i in final.HomeTeam.unique():
    if i not in all_elo.Club.unique():
        print(i)

In [602]:
final.to_csv('../Data/from_sqlite_Data/Realfinal.csv')

# Merging with Dataframe

In [603]:
all_elo['From']=pd.to_datetime(all_elo['From'])
all_elo['To']=pd.to_datetime(all_elo['To'])

In [606]:
all_elo

,Unnamed: 0,Rank,Club,Country,Level,Elo,From,To
0,0,1,Man United,ENG,1,2025.482056,2008-07-18,2008-07-31
1,1,2,Chelsea,ENG,1,2014.680542,2008-07-18,2008-07-31
2,2,3,Liverpool,ENG,1,1958.285400,2008-07-18,2008-07-31
3,3,4,Arsenal,ENG,1,1940.754395,2008-07-18,2008-07-31
4,4,5,Real Madrid,ESP,1,1930.277832,2008-05-19,2008-08-13
5,5,6,Villarreal,ESP,1,1891.170166,2008-05-19,2008-08-12
6,6,7,Inter,ITA,1,1890.706543,2008-05-19,2008-08-12
7,7,8,Barcelona,ESP,1,1889.462524,2008-05-19,2008-08-13
8,8,9,Sevilla,ESP,1,1884.894043,2008-05-19,2008-08-13
9,9,10,Roma,ITA,1,1867.456299,2008-05-19,2008-08-12
10,10,11,Everton,ENG,1,1846.775269,2008-07-18,2008-07-31
11,11,12,Mallorca,ESP,1,1825.698364,2008-05-19,2008-08-13
12,12,13,Juventus,ITA,1,1823.401855,2008-05-18,2008-08-12
13,13,14,Milan,ITA,1,1820.019775,2008-05-19,2008-08-12
14,14,15,Atletico,ESP,1,1818.806396,2008-05-19,2008-08-13
...,...,...,...,...,...,...,...,...
594,594,None,Valletta,MLT,0,975.537109,2015-07-24,2016-06-28
595,595,None,Gota,FAR,0,952.146790,2015-07-10,2016-06-28
596,596,None,Balzan,MLT,0,937.802490,2015-07-24,2016-06-28
597,597,None,Hibernians Paola,MLT,0,934.652283,2015-07-24,2016-06-28
598,598,None,HB Torshavn,FAR,0,896.191956,2015-07-10,2016-06-28
599,599,None,College Europa,GIB,0,896.155029,2015-07-22,2016-06-28
600,600,None,Lincoln,GIB,0,880.730774,2015-07-22,2016-06-28
601,601,None,Runavik,FAR,0,878.890259,2015-07-10,2016-06-28
602,602,None,B 36 Torshavn,FAR,0,864.363831,2015-07-10,2016-06-28
603,603,None,Santa Coloma,AND,0,789.290466,2015-07-10,2016-06-28
604,604,None,Lusitanos,AND,0,777.002075,2015-07-10,2016-06-28
605,605,None,Matecosa Sant Julia,AND,0,776.410034,2015-07-10,2016-06-28
606,606,None,Juvenes,SMR,0,699.212036,2015-07-10,2016-06-28
607,607,None,Folgore,SMR,0,697.262573,2015-07-10,2016-06-28
608,608,None,La Fiorita,SMR,0,692.300171,2015-07-10,2016-06-28

In [607]:
i=0
all_elo[all_elo.Club==final['HomeTeam'][i]]

,Unnamed: 0,Rank,Club,Country,Level,Elo,From,To
161,161,None,Young Boys,SUI,1,1557.639893,2008-07-18,2008-07-18
170,170,None,Young Boys,SUI,1,1549.307739,2008-07-19,2008-07-24
170,170,None,Young Boys,SUI,1,1549.307739,2008-07-19,2008-07-24
170,170,None,Young Boys,SUI,1,1549.307739,2008-07-19,2008-07-24
170,170,None,Young Boys,SUI,1,1549.307739,2008-07-19,2008-07-24
174,174,None,Young Boys,SUI,1,1540.738892,2008-07-25,2008-07-27
174,174,None,Young Boys,SUI,1,1540.738892,2008-07-25,2008-07-27
187,187,None,Young Boys,SUI,1,1531.857910,2008-07-28,2008-07-30
189,189,None,Young Boys,SUI,1,1530.819458,2008-08-01,2008-08-03
190,190,None,Young Boys,SUI,1,1530.819458,2008-08-01,2008-08-03
201,201,None,Young Boys,SUI,1,1524.740967,2008-08-04,2008-08-06
199,199,None,Young Boys,SUI,1,1527.567993,2008-08-07,2008-08-10
200,200,None,Young Boys,SUI,1,1527.567993,2008-08-07,2008-08-10
201,201,None,Young Boys,SUI,1,1527.567993,2008-08-07,2008-08-10
195,195,None,Young Boys,SUI,1,1531.009033,2008-08-11,2008-08-13
...,...,...,...,...,...,...,...,...
106,106,None,Young Boys,SUI,1,1594.505615,2016-05-01,2016-05-08
107,107,None,Young Boys,SUI,1,1594.505615,2016-05-01,2016-05-08
108,108,None,Young Boys,SUI,1,1594.505615,2016-05-01,2016-05-08
107,107,None,Young Boys,SUI,1,1594.505615,2016-05-01,2016-05-08
111,111,None,Young Boys,SUI,1,1586.169312,2016-05-09,2016-05-12
111,111,None,Young Boys,SUI,1,1586.169312,2016-05-09,2016-05-12
111,111,None,Young Boys,SUI,1,1586.169312,2016-05-09,2016-05-12
113,113,None,Young Boys,SUI,1,1586.169312,2016-05-09,2016-05-12
108,108,None,Young Boys,SUI,1,1590.195190,2016-05-13,2016-05-16
108,108,None,Young Boys,SUI,1,1590.195190,2016-05-13,2016-05-16
109,109,None,Young Boys,SUI,1,1590.195190,2016-05-13,2016-05-16
108,108,None,Young Boys,SUI,1,1590.195190,2016-05-13,2016-05-16
104,104,None,Young Boys,SUI,1,1596.628540,2016-05-17,2016-05-22
104,104,None,Young Boys,SUI,1,1596.628540,2016-05-17,2016-05-22
107,107,None,Young Boys,SUI,1,1589.507324,2016-05-23,2016-05-25

In [612]:
pd.to_datetime(final.Date[i])

Timestamp('2008-07-18 00:00:00')

In [614]:
tmp[tmp['To'] >=pd.to_datetime(final.Date[i])].iloc[0]['Elo']

1233.4083252

In [608]:
tmp[tmp['To'] >= pd.to_datetime(final.Date[i])].iloc[0]['Elo']

1233.4083252

In [604]:
lis_home=[]
for i in final.index:
    tmp=all_elo[all_elo.Club==final['HomeTeam'][i]]
    lis_home.append(tmp[tmp['To'] >= pd.to_datetime(final.Date[i])].iloc[0]['Elo'])

IndexError: single positional indexer is out-of-bounds

In [ ]:
lis_away=[]
for i in fina.index:
    tmp=a[a.Club==premier_2017['AwayTeam'][i]]
    lis_away.append(tmp[tmp['To'] >= pd.to_datetime(premier_2017.Date[i])].iloc[0]['Elo'])

In [67]:
final.to_csv('../Data/from_sqlite_Data/Realfinal.csv')

In [68]:
final=pd.read_csv('../Data/from_sqlite_Data/Realfinal.csv')

In [69]:
final.drop(['Unnamed: 0'], axis=1,inplace=True)

In [ ]:
final

# For Betting !

In [278]:
a=pd.read_csv('../Data/premier_legue_old_data/E0_2017.csv')
season=a

In [279]:
#take the columns you care

In [280]:
season=season.iloc[:,1:7]

In [281]:
len(season.HomeTeam.unique())

20

In [282]:
#add the round to be predicted with 0 in all other values

In [283]:
round_to_be_predict=pd.DataFrame(columns=season.columns)

In [284]:
date=pd.to_datetime('28/04/17')

In [285]:
round_to_be_predict.loc[0]=[date,'Southampton','Hull',0,0,'D']
round_to_be_predict.loc[1]=[date,'Stoke','West Ham',0,0,'D']
round_to_be_predict.loc[2]=[date,'Sunderland','Bournemouth',0,0,'D']
round_to_be_predict.loc[3]=[date,'West Brom','Leicester',0,0,'D']
round_to_be_predict.loc[4]=[date,'Crystal Palace','Burnley',0,0,'D']
round_to_be_predict.loc[5]=[date,'Man United','Swansea',0,0,'D']
round_to_be_predict.loc[6]=[date,'Everton','Chelsea',0,0,'D']
round_to_be_predict.loc[7]=[date,'Middlesbrough','Man City',0,0,'D']
round_to_be_predict.loc[8]=[date,'Tottenham','Arsenal',0,0,'D']
round_to_be_predict.loc[9]=[date,'Watford','Liverpool',0,0,'D']

In [286]:
season.tail(n=10)

         Date        HomeTeam        AwayTeam  FTHG  FTAG FTR
324  22/04/17            Hull         Watford     2     0   H
325  22/04/17         Swansea           Stoke     2     0   H
326  22/04/17        West Ham         Everton     0     0   D
327  23/04/17         Burnley      Man United     0     2   A
328  23/04/17       Liverpool  Crystal Palace     1     2   A
329  25/04/17         Chelsea     Southampton     4     2   H
330  26/04/17         Arsenal       Leicester     1     0   H
331  26/04/17  Crystal Palace       Tottenham     0     1   A
332  26/04/17   Middlesbrough      Sunderland     1     0   H
333  27/04/17        Man City      Man United     0     0   D

In [287]:
round_to_be_predict.Date=pd.to_datetime(round_to_be_predict.Date)

In [288]:
season=pd.concat([season,round_to_be_predict]).reset_index()

In [289]:
season.drop('index',axis=1,inplace=True)

In [290]:
season['season']=['2016/2017']*len(season)

In [291]:
teams=season.HomeTeam.unique()
allteamsresults=[]
for i in teams:
    path=pd.DataFrame()            
    path = season[(season["HomeTeam"] == i) | (season['AwayTeam'] == i )] 
    allteamsresults.append(MyDf(path))

In [293]:
for i in range(len(teams)):
    allteamsresults[i].df=calculate_for_team_i(allteamsresults,teams,i)

/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:473: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:478: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:480: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:481: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:482: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:483: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:484: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:485: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:488: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:489: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:490: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:492: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:493: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:496: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:497: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:498: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:501: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:502: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:503: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
tmp=pd.DataFrame(columns=(
                          'H_ROUND',
    
                          'H_TP3',
                          'H_TP5',
                            
    
                          'H_GS_H', 
                          'H_GS_A', 
                          'H_GR_H', 
                          'H_GR_A', 
                          'H_TGS',
                          'H_TGR', 
                          
                          'H_AvGS_H' ,
                          'H_AvGS_A' ,
                          'H_AvGR_H',
                          'H_AvGR_A',
                          'H_Av_TGS',
                          'H_Av_TGR', 
                          
                          
                          'H_Pnt_H' ,
                          'H_Pnt_A',
                          'H_T_pnt',
                          'H_Av_Pnt_H',
                          'H_Av_pnt_A',
                          'H_Av_T_pnt',
                          
                          'A_ROUND',
    
                          'A_TP3',
                          'A_TP5',

                          'Aw_GS_H', 
                          'Aw_GS_A', 
                          'Aw_GR_H', 
                          'Aw_GR_A', 
                          'Aw_TGS',
                          'Aw_TGR', 
                          
                          'Aw_AvGS_H' ,
                          'Aw_AvGS_A' ,
                          'Aw_AvGR_H',
                          'Aw_AvGR_A',
                          'Aw_Av_TGS',
                          'Aw_Av_TGR', 
                          
                          
                          'Aw_Pnt_H' ,
                          'Aw_Pnt_A',
                          'Aw_T_pnt',
                          'Aw_Av_Pnt_H',
                          'Aw_Av_pnt_A',
                         
                          'Aw_Av_T_pnt',
                          
                          
                          
                         )
                )

In [294]:
allteamsresults[0].df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,season,Round,T_L3M,T_L5M,GS_H,GS_A,GR_H,GR_A,TGS,TGR,AGS_H,AGS_A,AGR_H,AGR_A,ATGS,ATGR,Pnt_H,Pnt_A,TOTPT,Av_Pnt_H,Av_pnt_A,Av_tot_pnt
0,13/08/16,Burnley,Swansea,0.0,1.0,A,2016/2017,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0.000000,0.000000,0.000000
11,20/08/16,Burnley,Liverpool,2.0,0.0,H,2016/2017,2,0,0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0,0,0,0.000000,0.000000,0.000000
20,27/08/16,Chelsea,Burnley,3.0,0.0,H,2016/2017,3,3,3,2.0,0.0,1.0,0.0,2.0,1.0,1.000000,0.000000,0.500000,0.000000,1.000000,0.500000,3,0,3,1.500000,0.000000,1.500000
32,10/09/16,Burnley,Hull,1.0,1.0,D,2016/2017,4,0,0,2.0,0.0,1.0,3.0,2.0,4.0,1.000000,0.000000,0.500000,3.000000,0.666667,1.333333,3,0,3,1.500000,0.000000,1.000000
43,17/09/16,Leicester,Burnley,3.0,0.0,H,2016/2017,5,4,1,3.0,0.0,2.0,3.0,3.0,5.0,1.000000,0.000000,0.666667,3.000000,0.750000,1.250000,4,0,4,1.333333,0.000000,1.000000
59,26/09/16,Burnley,Watford,2.0,0.0,H,2016/2017,6,1,0,3.0,0.0,2.0,6.0,3.0,8.0,1.000000,0.000000,0.666667,3.000000,0.600000,1.600000,4,0,4,1.333333,0.000000,0.800000
66,02/10/16,Burnley,Arsenal,0.0,1.0,A,2016/2017,7,4,7,5.0,0.0,2.0,6.0,5.0,8.0,1.250000,0.000000,0.500000,3.000000,0.833333,1.333333,7,0,7,1.750000,0.000000,1.166667
78,16/10/16,Southampton,Burnley,3.0,1.0,H,2016/2017,8,3,4,5.0,0.0,3.0,6.0,5.0,9.0,1.000000,0.000000,0.600000,3.000000,0.714286,1.285714,7,0,7,1.400000,0.000000,1.000000
82,22/10/16,Burnley,Everton,2.0,1.0,H,2016/2017,9,3,4,5.0,1.0,3.0,9.0,6.0,12.0,1.000000,0.333333,0.600000,3.000000,0.750000,1.500000,7,0,7,1.400000,0.000000,0.875000
91,29/10/16,Man United,Burnley,0.0,0.0,D,2016/2017,10,3,6,7.0,1.0,4.0,9.0,8.0,13.0,1.166667,0.333333,0.666667,3.000000,0.888889,1.444444,10,0,10,1.666667,0.000000,1.111111
101,05/11/16,Burnley,Crystal Palace,3.0,2.0,H,2016/2017,11,4,7,7.0,1.0,4.0,9.0,8.0,13.0,1.166667,0.250000,0.666667,2.250000,0.800000,1.300000,10,1,11,1.666667,0.250000,1.100000
119,21/11/16,West Brom,Burnley,4.0,0.0,H,2016/2017,12,7,7,10.0,1.0,6.0,9.0,11.0,15.0,1.428571,0.250000,0.857143,2.250000,1.000000,1.363636,13,1,14,1.857143,0.250000,1.272727
120,26/11/16,Burnley,Man City,1.0,2.0,A,2016/2017,13,4,7,10.0,1.0,6.0,13.0,11.0,19.0,1.428571,0.200000,0.857143,2.600000,0.916667,1.583333,13,1,14,1.857143,0.200000,1.166667
132,03/12/16,Stoke,Burnley,2.0,0.0,H,2016/2017,14,3,7,11.0,1.0,8.0,13.0,12.0,21.0,1.375000,0.200000,1.000000,2.600000,0.923077,1.615385,13,1,14,1.625000,0.200000,1.076923
141,10/12/16,Burnley,Bournemouth,3.0,2.0,H,2016/2017,15,0,4,11.0,1.0,8.0,15.0,12.0,23.0,1.375000,0.166667,1.000000,2.500000,0.857143,1.642857,13,1,14,1.625000,0.166667,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,14/01/17,Burnley,Southampton,1.0,0.0,H,2016/2017,21,6,6,19.0,3.0,11.0,20.0,22.0,31.0,1.727273,0.333333,1.000000,2.222222,1.100000,1.550000,22,1,23,2.000000,0.111111,1.150000
217,22/01/17,Arsenal,Burnley,2.0,1.0,H,2016/2017,22,6,9,20.0,3.0,11.0,20.0,23.0,31.0,1.666667,0.333333,0.916667,2.222222,1.095238,1.476190,25,1,26,2.083333,0.111111,1.238095
222,31/01/17,Burnley,Leicester,1.0,0.0,H,2016/2017,23,3,9,20.0,4.0,11.0,22.0,24.0,33.0,1.666667,0.400000,0.916667,2.200000,1.090909,1.500000,25,1,26,2.083333,0.100000,1.181818
236,04/02/17,Watford,Burnley,2.0,1.0,H,2016/2017,24,6,9,21.0,4.0,11.0,22.0,25.0,33.0,1.615385,0.400000,0.846154,2.200000,1.086957,1.434783,28,1,29,2.153846,0.100000,1.260870
247,12/02/17,Burnley,Chelsea,1.0,1.0,D,2016/2017,25,3,6,21.0,5.0,11.0,24.0,26.0,35.0,1.615385,0.454545,0.846154,2.181818,1.083333,1.458333,28,1,29,2.153846,0.090909,1.208333
253,25/02/17,Hull,Burnley,1.0,1.0,D,2016/2017,26,4,7,22.0,5.0,12.0,24.0,27.0,36.0,1.571429,0.454545,0.857143,2.181818,1.080000,1.440000,29,1,30,2.071429,0.090909,1.200000
262,04/03/17,Swansea,Burnley,3.0,2.0,H,2016/2017,27,2,5,22.0,6.0,12.0,25.0,28.0,37.0,1.571429,0.500000,0.857143,2.083333,1.076923,1.423077,29,2,31,2.071429,0.166667,1.192308
272,12/03/17,Liverpool,Burnley,2.0,1.0,H,2016/2017,28,2,5,22.0,8.0,12.0,28.0,30.0,40.0,1.571429,0.615385,0.857143,2.153846,1.111111,1.481481,29,2,31,2.071429,0.153846,1.148148
277,18/03/17,Sunderland,Burnley,0.0,0.0,D,2016/2017,29,1,2,22.0,9.0,12.0,30.0,31.0,42.0,1.571429,0.642857,0.857143,2.142857,1.107143,1.500000,29,2,31,2.071429,0.142857,1.107143
283,01/04/17,Burnley,Tottenham,0.0,2.0,A,2016/2017,30,1,3,22.0,9.0,12.0,30.0,31.0,42.0,1.571429,0.600000,0.857143,2.000000,1.068966,1.448276,29,3,32,2.071429,0.200000,1.103448
293,04/04/17,Burnley,Stoke,1.0,0.0,H,2016/2017,31,1,2,22.0,9.0,14.0,30.0,31.0,44.0,1.466667,0.600000,0.933333,2.000000,1.033333,1.466667,29,3,32,1.933333,0.200000,1.066667
305,08/04/17,Middlesbrough,Burnley,0.0,0.0,D,2016/2017,32,4,4,23.0,9.0,14.0,30.0,32.0,44.0,1.437500,0.600000,0.875000,2.000000,1.032258,1.419355,32,3,35,2.000000,0.200000,1.129032
314,15/04/17,Everton,Burnley,3.0,1.0,H,2016/2017,33,4,5,23.0,9.0,14.0,30.0,32.0,44.0,1.437500,0.562500,0.875000,1.875000,1.000000,1.375000,32,4,36,2.000000,0.250000,1.125000
327,23/04/17,Burnley,Man United,0.0,2.0,A,2016/2017,34,4,5,23.0,10.0,14.0,33.0,33.0,47.0,1.437500,0.588235,0.875000,1.941176,1.000000,1.424242,32,4,36,2.000000,0.235294,1.090909
338,2017-04-28 00:00:00,Crystal Palace,Burnley,0.0,0.0,D,2016/2017,35,1,4,23.0,10.0,16.0,33.0,33.0,49.0,1.352941,0.588235,0.941176,1.941176,0.970588,1.441176,32,4,36,1.882353,0.235294,1.058824

In [296]:
for i in season.index:
    date=season['Date'][i]
    Home=season['HomeTeam'][i]
    Away=season['AwayTeam'][i]
    
    home_index=pd.Series(teams)[teams==Home].index[0]
    away_index=pd.Series(teams)[teams==Away].index[0]
    tobeappend=list(allteamsresults[home_index].df.loc[i].iloc[7:]) + list(allteamsresults[away_index].df.loc[i].iloc[7:])
    tmp.loc[i]=tobeappend

In [321]:
final=pd.merge(left=season, right=tmp, left_index=True, right_index=True)


final['DIFF_TP']=final['H_T_pnt']-final['Aw_T_pnt']
final['DIFF_HP-AP']=final['H_Pnt_H']-final['Aw_Pnt_A']

final['SUMM_HGSH+HGSH+AGRA']=final['H_GS_H']+final['Aw_GR_A']
final['SUMM_HGRH+AGSA']=final['H_GR_H']+final['Aw_GS_A']
final['SUMM_HTGS+ATGR']=final['H_TGS']+final['Aw_TGR']
final['SUMM_HTGR+ATGS']=final['H_TGR']+final['Aw_TGS']

final['DIFF_L3MP']=final['H_TP3']-final['A_TP3']
final['DIFF_L5MP']=final['H_TP5']-final['A_TP5']


final['DIFF_av_TP']=final['H_Av_T_pnt']-final['Aw_Av_T_pnt']
final['DIFF_av_HP-AP']=final['H_Av_Pnt_H']-final['Aw_Av_pnt_A']

final['SUMM_av_HGSH+AGRA']=final['H_AvGS_H']+final['Aw_AvGR_A']
final['SUMM_av_HGRH+AGSA']=final['H_AvGR_H']+final['Aw_AvGS_A']

final['SUMM_av_HTGS+ATGR']=final['H_Av_TGS']+final['Aw_Av_TGR']
final['SUMM_av_HTGR+ATGS']=final['H_Av_TGR']+final['Aw_Av_TGS']

final['Goal/No_Goal'] = ((final['FTHG']>0 ) * 1)*((final['FTAG']>0) * 1)
final['Over2.5/Under2.5'] = ((final['FTHG'] + final['FTAG']) >2)*1
final['Over1.5/Under1.5'] = ((final['FTHG'] + final['FTAG']) >1)*1

In [331]:
final.to_csv('../Data/from_sqlite_Data/***.csv')