In [58]:
import pandas as pd
pd.options.display.max_columns = 999

# Creating the teams dataframe

In [59]:
##Define the object for the season team
class MyDf:
    def __init__(self, mydf):
        self.df = mydf

In [60]:
df = pd.read_csv("../Data/EPL_1617.csv")

In [61]:
season = df.iloc[:,1:11]

In [62]:
teams=season.HomeTeam.unique()

In [63]:
allteamsresults=[]
for i in teams:
    path=pd.DataFrame()            
    path = season[(season["HomeTeam"] == i) | (season['AwayTeam'] == i )] 
    allteamsresults.append(MyDf(path))

## Now allteameasresults has memorized all the results of the season per teams. You can access to each team results with the team index. The position of the team in the list "teams" will give you the index of the team results in the dataframe allteamsresults.

In [64]:
teams

array(['Burnley', 'Crystal Palace', 'Everton', 'Hull', 'Man City',
       'Middlesbrough', 'Southampton', 'Arsenal', 'Bournemouth', 'Chelsea',
       'Man United', 'Leicester', 'Stoke', 'Swansea', 'Tottenham',
       'Watford', 'West Brom', 'Sunderland', 'West Ham', 'Liverpool'], dtype=object)

the index of Arsenal is 7

In [65]:
allteamsresults[7].df.head(n=2)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee
7,14/08/16,Arsenal,Liverpool,3,4,A,1,1,D,M Oliver
12,20/08/16,Leicester,Arsenal,0,0,D,0,0,D,M Clattenburg

## Now, lets calculate some other features

## 1) Goal scored and received - home and away.
### We will shift of one match back each calculation, which means, each row will have the present match and the statistics goals scored up to that day (before the match).

In [66]:
def calculate_for_team_i(ALL_TEAM,team_lists,team_index):
    
    #create the lists for goals
    Goal_scored_home=[]
    Goal_received_home=[]
    Goal_scored_away=[]
    Goal_received_away=[]
    
    #create the list for averages goals
    Av_Goal_scored_home=[]
    Av_Goal_received_home=[]
    Av_Goal_scored_away=[]
    Av_Goal_received_away=[]
    
    
    #create the list points
    Point_home=[]
    Point_away=[]
    
    #create the list for average Points
    Av_Point_home=[]
    Av_Point_away=[]
    
    
    #create the index
    k=1

    #append day 1 that is empty
    Goal_scored_home.append(0)
    Goal_received_home.append(0)
    Goal_scored_away.append(0)
    Goal_received_away.append(0)
    Av_Goal_scored_home.append(0)
    Av_Goal_received_home.append(0)
    Av_Goal_scored_away.append(0)
    Av_Goal_received_away.append(0)
    Point_home.append(0)
    Point_away.append(0)
    Av_Point_home.append(0)
    Av_Point_away.append(0)
    
    #create a counter
    Home=0
    Away=0
    
    #run the loop for each team
    for i in ALL_TEAM[team_index].df.index:
        
        
        #HOME
        if ALL_TEAM[team_index].df['HomeTeam'][i]==team_lists[team_index]:
            

            #goal scored and received
            Goal_scored_home.append(ALL_TEAM[team_index].df['FTHG'][i]+Goal_scored_home[k-1])
            Goal_received_home.append(ALL_TEAM[team_index].df['FTAG'][i]+Goal_received_home[k-1])
            Goal_scored_away.append(Goal_scored_away[k-1])
            Goal_received_away.append(Goal_received_away[k-1])
            
            #average
            Home=Home+1
            Av_Goal_scored_home.append(float(Goal_scored_home[k])/Home)
            Av_Goal_received_home.append(float(Goal_received_home[k])/Home)
            Av_Goal_scored_away.append(Av_Goal_scored_away[k-1])
            Av_Goal_received_away.append(Av_Goal_received_away[k-1])
            
           
            #Point winning
            if ALL_TEAM[team_index].df['FTR'][i]=='H':
                Point_home.append(3+Point_home[k-1])
                Av_Point_home.append(float(Point_home[k])/Home)
            
            #Point draw
            if ALL_TEAM[team_index].df['FTR'][i]=='D':
                Point_home.append(1+Point_home[k-1])
                Av_Point_home.append(float(Point_home[k])/Home)
                
            #Point lost
            if ALL_TEAM[team_index].df['FTR'][i]=='A':
                Point_home.append(0+Point_home[k-1])
                Av_Point_home.append(float(Point_home[k])/Home)
              
            
            Point_away.append(Point_away[k-1])
            Av_Point_away.append(Av_Point_away[k-1])
            

            
        
        #AWAY
        if ALL_TEAM[team_index].df['HomeTeam'][i]!=team_lists[team_index]:
            
            
            Goal_scored_away.append(ALL_TEAM[team_index].df['FTAG'][i]+Goal_scored_away[k-1])
            Goal_received_away.append(ALL_TEAM[team_index].df['FTHG'][i]+Goal_received_away[k-1])
            Goal_scored_home.append(Goal_scored_home[k-1])
            Goal_received_home.append(Goal_received_home[k-1])
            
            #average
            Away=Away+1
            Av_Goal_scored_away.append(float(Goal_scored_away[k])/Away)
            Av_Goal_received_away.append(float(Goal_received_away[k])/Away)
            Av_Goal_scored_home.append(Av_Goal_scored_home[k-1])
            Av_Goal_received_home.append(Av_Goal_received_home[k-1])
            
            #Point winning
            if ALL_TEAM[team_index].df['FTR'][i]=='A':
                Point_away.append(3+Point_away[k-1])
                Av_Point_away.append(float(Point_away[k])/Away)
            
            #Point draw
            if ALL_TEAM[team_index].df['FTR'][i]=='D':
                Point_away.append(1+Point_away[k-1])
                Av_Point_away.append(float(Point_away[k])/Away)
                
            #Point lost
            if ALL_TEAM[team_index].df['FTR'][i]=='H':
                Point_away.append(0+Point_away[k-1])
                Av_Point_away.append(float(Point_away[k])/Away)
            
            Point_home.append(Point_home[k-1])
            Av_Point_home.append(Av_Point_home[k-1])
        
            
            
        k=k+1
     
 
    del Goal_scored_home[-1]
    del Goal_received_home[-1]
    del Goal_scored_away[-1]
    del Goal_received_away[-1]
    
    
    del Av_Goal_scored_home[-1]
    del Av_Goal_received_home[-1]
    del Av_Goal_scored_away[-1]
    del Av_Goal_received_away[-1]
    
    del Point_home[-1]
    del Point_away[-1]
    del Av_Point_home[-1]
    del Av_Point_away[-1]
    
    
    ALL_TEAM[team_index].df['GS_H']=Goal_scored_home
    ALL_TEAM[team_index].df['GS_A']=Goal_scored_away
    ALL_TEAM[team_index].df['GR_H']=Goal_received_home
    ALL_TEAM[team_index].df['GR_A']=Goal_received_away
    
    
    ALL_TEAM[team_index].df['AGS_H']=Av_Goal_scored_home
    ALL_TEAM[team_index].df['AGS_A']=Av_Goal_scored_away
    ALL_TEAM[team_index].df['AGR_H']=Av_Goal_received_home
    ALL_TEAM[team_index].df['AGR_A']=Av_Goal_received_away
    
    
    ALL_TEAM[team_index].df['Pnt_H']=Point_home
    ALL_TEAM[team_index].df['Pnt_A']=Point_away
    ALL_TEAM[team_index].df['Av_Pnt_H']=Av_Point_home
    ALL_TEAM[team_index].df['Av_pnt_A']=Av_Point_away
    
    return ALL_TEAM[team_index].df

In [67]:
for i in range(len(teams)):
    allteamsresults[i].df=calculate_for_team_i(allteamsresults,teams,i)

/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:146: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:148: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:149: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:152: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:155: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:158: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nicolamacchitella/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:161: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [68]:
allteamsresults[0].df.head(n=3)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,GR_H,GR_A,AGS_H,AGS_A,AGR_H,AGR_A,Pnt_H,Pnt_A,Av_Pnt_H,Av_pnt_A
0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,J Moss,...,0,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0
11,20/08/16,Burnley,Liverpool,2,0,H,2,0,H,L Mason,...,1,0,0.0,0.0,1.0,0.0,0,0,0.0,0.0
20,27/08/16,Chelsea,Burnley,3,0,H,2,0,H,M Clattenburg,...,1,0,1.0,0.0,0.5,0.0,3,0,1.5,0.0

In [69]:
try_=season.head(n=18)

In [94]:
try_

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee
0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,J Moss
1,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,C Pawson
2,13/08/16,Everton,Tottenham,1,1,D,1,0,H,M Atkinson
3,13/08/16,Hull,Leicester,2,1,H,1,0,H,M Dean
4,13/08/16,Man City,Sunderland,2,1,H,1,0,H,R Madley
5,13/08/16,Middlesbrough,Stoke,1,1,D,1,0,H,K Friend
6,13/08/16,Southampton,Watford,1,1,D,0,1,A,R East
7,14/08/16,Arsenal,Liverpool,3,4,A,1,1,D,M Oliver
8,14/08/16,Bournemouth,Man United,1,3,A,0,1,A,A Marriner
9,15/08/16,Chelsea,West Ham,2,1,H,0,0,D,A Taylor
10,19/08/16,Man United,Southampton,2,0,H,1,0,H,A Taylor
11,20/08/16,Burnley,Liverpool,2,0,H,2,0,H,L Mason
12,20/08/16,Leicester,Arsenal,0,0,D,0,0,D,M Clattenburg
13,20/08/16,Stoke,Man City,1,4,A,0,2,A,M Dean
14,20/08/16,Swansea,Hull,0,2,A,0,0,D,S Attwell
15,20/08/16,Tottenham,Crystal Palace,1,0,H,0,0,D,M Oliver
16,20/08/16,Watford,Chelsea,1,2,A,0,0,D,J Moss
17,20/08/16,West Brom,Everton,1,2,A,1,1,D,N Swarbrick

In [165]:
season

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee
0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,J Moss
1,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,C Pawson
2,13/08/16,Everton,Tottenham,1,1,D,1,0,H,M Atkinson
3,13/08/16,Hull,Leicester,2,1,H,1,0,H,M Dean
4,13/08/16,Man City,Sunderland,2,1,H,1,0,H,R Madley
5,13/08/16,Middlesbrough,Stoke,1,1,D,1,0,H,K Friend
6,13/08/16,Southampton,Watford,1,1,D,0,1,A,R East
7,14/08/16,Arsenal,Liverpool,3,4,A,1,1,D,M Oliver
8,14/08/16,Bournemouth,Man United,1,3,A,0,1,A,A Marriner
9,15/08/16,Chelsea,West Ham,2,1,H,0,0,D,A Taylor
10,19/08/16,Man United,Southampton,2,0,H,1,0,H,A Taylor
11,20/08/16,Burnley,Liverpool,2,0,H,2,0,H,L Mason
12,20/08/16,Leicester,Arsenal,0,0,D,0,0,D,M Clattenburg
13,20/08/16,Stoke,Man City,1,4,A,0,2,A,M Dean
14,20/08/16,Swansea,Hull,0,2,A,0,0,D,S Attwell
15,20/08/16,Tottenham,Crystal Palace,1,0,H,0,0,D,M Oliver
16,20/08/16,Watford,Chelsea,1,2,A,0,0,D,J Moss
17,20/08/16,West Brom,Everton,1,2,A,1,1,D,N Swarbrick
18,21/08/16,Sunderland,Middlesbrough,1,2,A,0,2,A,M Atkinson
19,21/08/16,West Ham,Bournemouth,1,0,H,0,0,D,C Pawson
20,27/08/16,Chelsea,Burnley,3,0,H,2,0,H,M Clattenburg
21,27/08/16,Crystal Palace,Bournemouth,1,1,D,0,1,A,M Dean
22,27/08/16,Everton,Stoke,1,0,H,0,0,D,M Oliver
23,27/08/16,Hull,Man United,0,1,A,0,0,D,J Moss
24,27/08/16,Leicester,Swansea,2,1,H,1,0,H,R East
25,27/08/16,Southampton,Sunderland,1,1,D,0,0,D,L Mason
26,27/08/16,Tottenham,Liverpool,1,1,D,0,1,A,R Madley
27,27/08/16,Watford,Arsenal,1,3,A,0,3,A,K Friend
28,28/08/16,Man City,West Ham,3,1,H,2,0,H,A Marriner
29,28/08/16,West Brom,Middlesbrough,0,0,D,0,0,D,A Taylor
...,...,...,...,...,...,...,...,...,...,...
253,25/02/17,Hull,Burnley,1,1,D,0,0,D,M Atkinson
254,25/02/17,Watford,West Ham,1,1,D,1,0,H,C Pawson
255,25/02/17,West Brom,Bournemouth,2,1,H,2,1,H,M Clattenburg
256,26/02/17,Tottenham,Stoke,4,0,H,4,0,H,J Moss
257,27/02/17,Leicester,Liverpool,3,1,H,2,0,H,M Oliver
258,04/03/17,Leicester,Hull,3,1,H,1,1,D,M Dean
259,04/03/17,Liverpool,Arsenal,3,1,H,2,0,H,R Madley
260,04/03/17,Man United,Bournemouth,1,1,D,1,1,D,K Friend
261,04/03/17,Stoke,Middlesbrough,2,0,H,2,0,H,C Pawson
262,04/03/17,Swansea,Burnley,3,2,H,1,1,D,A Taylor
263,04/03/17,Watford,Southampton,3,4,A,1,2,A,J Moss
264,04/03/17,West Brom,Crystal Palace,0,2,A,0,0,D,M Jones
265,05/03/17,Sunderland,Man City,0,2,A,0,1,A,M Atkinson
266,05/03/17,Tottenham,Everton,3,2,H,1,0,H,M Oliver
267,06/03/17,West Ham,Chelsea,1,2,A,0,1,A,A Marriner
268,08/03/17,Man City,Stoke,0,0,D,0,0,D,N Swarbrick
269,11/03/17,Bournemouth,West Ham,3,2,H,1,1,D,R Madley
270,11/03/17,Everton,West Brom,3,0,H,2,0,H,G Scott
271,11/03/17,Hull,Swansea,2,1,H,0,0,D,A Marriner
272,12/03/17,Liverpool,Burnley,2,1,H,1,1,D,C Pawson
273,18/03/17,Bournemouth,Swansea,2,0,H,1,0,H,M Dean
274,18/03/17,Crystal Palace,Watford,1,0,H,0,0,D,M Atkinson
275,18/03/17,Everton,Hull,4,0,H,1,0,H,P Tierney
276,18/03/17,Stoke,Chelsea,1,2,A,1,1,D,A Taylor
277,18/03/17,Sunderland,Burnley,0,0,D,0,0,D,R Madley
278,18/03/17,West Brom,Arsenal,3,1,H,1,1,D,N Swarbrick
279,18/03/17,West Ham,Leicester,2,3,A,1,3,A,R East
280,19/03/17,Man City,Liverpool,1,1,D,0,0,D,M Oliver
281,19/03/17,Middlesbrough,Man United,1,3,A,0,1,A,J Moss
282,19/03/17,Tottenham,Southampton,2,1,H,2,0,H,A Marriner

In [166]:
tmp=pd.DataFrame(columns=('Hom_GS_H', 'Hom_GS_A', 'Hom_GR_H', 'Hom_GR_A', 'Hom_AGS_H' ,'Hom_AGS_A' ,'Hom_AGR_H','Hom_AGR_A','Hom_Pnt_H' ,'Hom_Pnt_A','Hom_Av_Pnt_H','Hom_Av_pnt_A','Aw_GS_H', 'Aw_GS_A', 'Aw_GR_H', 'Aw_GR_A', 'Aw_AGS_H' ,'Aw_AGS_A' ,'Aw_AGR_H','Aw_AGR_A','Aw_Pnt_H' ,'Aw_Pnt_A','Aw_Av_Pnt_H','Aw_Av_pnt_A'))

for i in season.index:
    
    date=season['Date'][i]
    Home=season['HomeTeam'][i]
    Away=season['AwayTeam'][i]
    
    home_index=pd.Series(teams)[teams==Home].index[0]
    away_index=pd.Series(teams)[teams==Away].index[0]
    tobeappend=list(allteamsresults[home_index].df.loc[i].iloc[10:]) + list(allteamsresults[away_index].df.loc[i].iloc[10:])
    tmp.loc[i]=tobeappend

In [172]:
final=pd.merge(left=season, right=tmp, left_index=True, right_index=True)

In [179]:
final

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,Hom_GS_H,Hom_GS_A,Hom_GR_H,Hom_GR_A,Hom_AGS_H,Hom_AGS_A,Hom_AGR_H,Hom_AGR_A,Hom_Pnt_H,Hom_Pnt_A,Hom_Av_Pnt_H,Hom_Av_pnt_A,Aw_GS_H,Aw_GS_A,Aw_GR_H,Aw_GR_A,Aw_AGS_H,Aw_AGS_A,Aw_AGR_H,Aw_AGR_A,Aw_Pnt_H,Aw_Pnt_A,Aw_Av_Pnt_H,Aw_Av_pnt_A
0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,J Moss,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,C Pawson,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2,13/08/16,Everton,Tottenham,1,1,D,1,0,H,M Atkinson,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
3,13/08/16,Hull,Leicester,2,1,H,1,0,H,M Dean,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
4,13/08/16,Man City,Sunderland,2,1,H,1,0,H,R Madley,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
5,13/08/16,Middlesbrough,Stoke,1,1,D,1,0,H,K Friend,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
6,13/08/16,Southampton,Watford,1,1,D,0,1,A,R East,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
7,14/08/16,Arsenal,Liverpool,3,4,A,1,1,D,M Oliver,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
8,14/08/16,Bournemouth,Man United,1,3,A,0,1,A,A Marriner,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
9,15/08/16,Chelsea,West Ham,2,1,H,0,0,D,A Taylor,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
10,19/08/16,Man United,Southampton,2,0,H,1,0,H,A Taylor,0.0,3.0,0.0,1.0,0.000000,3.000000,0.000000,1.000000,0.0,3.0,0.000000,3.000000,1.0,0.0,1.0,0.0,1.000000,0.000000,1.000000,0.000000,1.0,0.0,1.000000,0.000000
11,20/08/16,Burnley,Liverpool,2,0,H,2,0,H,L Mason,0.0,0.0,1.0,0.0,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,4.0,0.0,3.0,0.000000,4.000000,0.000000,3.000000,0.0,3.0,0.000000,3.000000
12,20/08/16,Leicester,Arsenal,0,0,D,0,0,D,M Clattenburg,0.0,1.0,0.0,2.0,0.000000,1.000000,0.000000,2.000000,0.0,0.0,0.000000,0.000000,3.0,0.0,4.0,0.0,3.000000,0.000000,4.000000,0.000000,0.0,0.0,0.000000,0.000000
13,20/08/16,Stoke,Man City,1,4,A,0,2,A,M Dean,0.0,1.0,0.0,1.0,0.000000,1.000000,0.000000,1.000000,0.0,1.0,0.000000,1.000000,2.0,0.0,1.0,0.0,2.000000,0.000000,1.000000,0.000000,3.0,0.0,3.000000,0.000000
14,20/08/16,Swansea,Hull,0,2,A,0,0,D,S Attwell,0.0,1.0,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.0,3.0,0.000000,3.000000,2.0,0.0,1.0,0.0,2.000000,0.000000,1.000000,0.000000,3.0,0.0,3.000000,0.000000
15,20/08/16,Tottenham,Crystal Palace,1,0,H,0,0,D,M Oliver,0.0,1.0,0.0,1.0,0.000000,1.000000,0.000000,1.000000,0.0,1.0,0.000000,1.000000,0.0,0.0,1.0,0.0,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.000000,0.000000
16,20/08/16,Watford,Chelsea,1,2,A,0,0,D,J Moss,0.0,1.0,0.0,1.0,0.000000,1.000000,0.000000,1.000000,0.0,1.0,0.000000,1.000000,2.0,0.0,1.0,0.0,2.000000,0.000000,1.000000,0.000000,3.0,0.0,3.000000,0.000000
17,20/08/16,West Brom,Everton,1,2,A,1,1,D,N Swarbrick,0.0,1.0,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.0,3.0,0.000000,3.000000,1.0,0.0,1.0,0.0,1.000000,0.000000,1.000000,0.000000,1.0,0.0,1.000000,0.000000
18,21/08/16,Sunderland,Middlesbrough,1,2,A,0,2,A,M Atkinson,0.0,1.0,0.0,2.0,0.000000,1.000000,0.000000,2.000000,0.0,0.0,0.000000,0.000000,1.0,0.0,1.0,0.0,1.000000,0.000000,1.000000,0.000000,1.0,0.0,1.000000,0.000000
19,21/08/16,West Ham,Bournemouth,1,0,H,0,0,D,C Pawson,0.0,1.0,0.0,2.0,0.000000,1.000000,0.000000,2.000000,0.0,0.0,0.000000,0.000000,1.0,0.0,3.0,0.0,1.000000,0.000000,3.000000,0.000000,0.0,0.0,0.000000,0.000000
20,27/08/16,Chelsea,Burnley,3,0,H,2,0,H,M Clattenburg,2.0,2.0,1.0,1.0,2.000000,2.000000,1.000000,1.000000,3.0,3.0,3.000000,3.000000,2.0,0.0,1.0,0.0,1.000000,0.000000,0.500000,0.000000,3.0,0.0,1.500000,0.000000
21,27/08/16,Crystal Palace,Bournemouth,1,1,D,0,1,A,M Dean,0.0,0.0,1.0,1.0,0.000000,0.000000,1.000000,1.000000,0.0,0.0,0.000000,0.000000,1.0,0.0,3.0,1.0,1.000000,0.000000,3.000000,1.000000,0.0,0.0,0.000000,0.000000
22,27/08/16,Everton,Stoke,1,0,H,0,0,D,M Oliver,1.0,2.0,1.0,1.0,1.000000,2.000000,1.000000,1.000000,1.0,3.0,1.000000,3.000000,1.0,1.0,4.0,1.0,1.000000,1.000000,4.000000,1.000000,0.0,1.0,0.000000,1.000000
23,27/08/16,Hull,Man United,0,1,A,0,0,D,J Moss,2.0,2.0,1.0,0.0,2.000000,2.000000,1.000000,0.000000,3.0,3.0,3.000000,3.000000,2.0,3.0,0.0,1.0,2.000000,3.000000,0.000000,1.000000,3.0,3.0,3.000000,3.000000
24,27/08/16,Leicester,Swansea,2,1,H,1,0,H,R East,0.0,1.0,0.0,2.0,0.000000,1.000000,0.000000,2.000000,1.0,0.0,1.000000,0.000000,0.0,1.0,2.0,0.0,0.000000,1.000000,2.000000,0.000000,0.0,3.0,0.000000,3.000000
25,27/08/16,Southampton,Sunderland,1,1,D,0,0,D,L Mason,1.0,0.0,1.0,2.0,1.000000,0.000000,1.000000,2.000000,1.0,0.0,1.000000,0.000000,1.0,1.0,2.0,2.0,1.000000,1.000000,2.000000,2.000000,0.0,0.0,0.000000,0.000000
26,27/08/16,Tottenham,Liverpool,1,1,D,0,1,A,R Madley,1.0,1.0,0.0,1.0,1.000000,1.000000,0.000000,1.000000,3.0,1.0,3.000000,1.000000,0.0,4.0,0.0,5.0,0.000000,2.000000,0.000000,2.500000,0.0,3.0,0.000000,1.500000
27,27/08/16,Watford,Arsenal,1,3,A,0,3,A,K Friend,1.0,1.0,2.0,1.0,1.000000,1.000000,2.000000,1.000000,0.0,1.0,0.000000,1.000000,3.0,0.0,4.0,0.0,3.000000,0.000000,4.000000,0.000000,0.0,1.0,0.000000,1.000000
28,28/08/16,Man City,West Ham,3,1,H,2,0,H,A Marriner,2.0,4.0,1.0,1.0,2.000000,4.000000,1.000000,1.000000,3.0,3.0,3.000000,3.000000,1.0,1.0,0.0,2.0,1.000000,1.000000,0.000000,2.000000,3.0,0.0,3.000000,0.000000
29,28/08/16,West Brom,Middlesbrough,0,0,D,0,0,D,A Taylor,1.0,1.0,2.0,0.0,1.000000,1.000000,2.000000,0.000000,0.0,3.0,0.000000,3.000000,1.0,2.0,1.0,1.0,1.000000,2.000000,1.000000,1.000000,1.0,3.0,1.000000,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,25/02/17,Hull,Burnley,1,1,D,0,0,D,M Atkinson,16.0,6.0,21.0,28.0,1.333333,0.461538,1.750000,2.153846,15.0,5.0,1.250000,0.384615,22.0,5.0,12.0,24.0,1.571429,0.454545,0.857143,2.181818,29.0,1.0,2.071429,0.090909
254,25/02/17,Watford,West Ham,1,1,D,1,0,H,C Pawson,17.0,12.0,18.0,24.0,1.416667,0.923077,1.500000,1.846154,18.0,12.0,1.500000,0.923077,14.0,20.0,22.0,21.0,1.076923,1.666667,1.692308,1.750000,18.0,14.0,1.384615,1.166667
255,25/02/17,West Brom,Bournemouth,2,1,H,2,1,H,M Clattenburg,22.0,12.0,14.0,17.0,1.833333,0.923077,1.166667,1.307692,23.0,14.0,1.916667,1.076923,21.0,14.0,21.0,28.0,1.615385,1.166667,1.615385,2.333333,18.0,8.0,1.384615,0.666667
256,26/02/17,Tottenham,Stoke,4,0,H,4,0,H,J Moss,26.0,20.0,5.0,13.0,2.166667,1.538462,0.416667,1.000000,32.0,18.0,2.666667,1.384615,16.0,14.0,15.0,21.0,1.230769,1.166667,1.153846,1.750000,20.0,12.0,1.538462,1.000000
257,27/02/17,Leicester,Liverpool,3,1,H,2,0,H,M Oliver,16.0,8.0,16.0,27.0,1.333333,0.615385,1.333333,2.076923,18.0,3.0,1.500000,0.230769,31.0,23.0,11.0,19.0,2.583333,1.769231,0.916667,1.461538,27.0,22.0,2.250000,1.692308
258,04/03/17,Leicester,Hull,3,1,H,1,1,D,M Dean,19.0,8.0,17.0,27.0,1.461538,0.615385,1.307692,2.076923,21.0,3.0,1.615385,0.230769,17.0,6.0,22.0,28.0,1.307692,0.461538,1.692308,2.153846,16.0,5.0,1.230769,0.384615
259,04/03/17,Liverpool,Arsenal,3,1,H,2,0,H,R Madley,31.0,24.0,11.0,22.0,2.583333,1.714286,0.916667,1.571429,27.0,22.0,2.250000,1.571429,26.0,28.0,13.0,15.0,2.000000,2.333333,1.000000,1.250000,29.0,21.0,2.230769,1.750000
260,04/03/17,Man United,Bournemouth,1,1,D,1,1,D,K Friend,19.0,19.0,9.0,12.0,1.461538,1.583333,0.692308,1.000000,24.0,24.0,1.846154,2.000000,21.0,15.0,21.0,30.0,1.615385,1.153846,1.615385,2.307692,18.0,8.0,1.384615,0.615385
261,04/03/17,Stoke,Middlesbrough,2,0,H,2,0,H,C Pawson,16.0,14.0,15.0,25.0,1.230769,1.076923,1.153846,1.923077,20.0,12.0,1.538462,0.923077,11.0,8.0,14.0,14.0,0.846154,0.615385,1.076923,1.076923,13.0,9.0,1.000000,0.692308
262,04/03/17,Swansea,Burnley,3,2,H,1,1,D,A Taylor,18.0,14.0,28.0,29.0,1.384615,1.076923,2.153846,2.230769,14.0,10.0,1.076923,0.769231,22.0,6.0,12.0,25.0,1.571429,0.500000,0.857143,2.083333,29.0,2.0,2.071429,0.166667
263,04/03/17,Watford,Southampton,3,4,A,1,2,A,J Moss,18.0,12.0,19.0,24.0,1.384615,0.923077,1.461538,1.846154,19.0,12.0,1.461538,0.923077,14.0,14.0,14.0,17.0,1.166667,1.076923,1.166667,1.307692,18.0,12.0,1.500000,0.923077
264,04/03/17,West Brom,Crystal Palace,0,2,A,0,0,D,M Jones,24.0,12.0,15.0,17.0,1.846154,0.923077,1.153846,1.307692,26.0,14.0,2.000000,1.076923,14.0,19.0,20.0,26.0,1.076923,1.461538,1.538462,2.000000,10.0,12.0,0.769231,0.923077
265,05/03/17,Sunderland,Man City,0,2,A,0,1,A,M Atkinson,14.0,10.0,24.0,24.0,1.076923,0.769231,1.846154,1.846154,12.0,7.0,0.923077,0.538462,23.0,28.0,13.0,16.0,1.916667,2.153846,1.083333,1.230769,25.0,27.0,2.083333,2.076923
266,05/03/17,Tottenham,Everton,3,2,H,1,0,H,M Oliver,30.0,20.0,5.0,13.0,2.307692,1.538462,0.384615,1.000000,35.0,18.0,2.692308,1.384615,27.0,15.0,10.0,17.0,2.076923,1.153846,0.769231,1.307692,28.0,16.0,2.153846,1.230769
267,06/03/17,West Ham,Chelsea,1,2,A,0,1,A,A Marriner,14.0,21.0,22.0,22.0,1.076923,1.615385,1.692308,1.692308,18.0,15.0,1.384615,1.153846,36.0,19.0,8.0,11.0,2.769231,1.461538,0.615385,0.846154,36.0,27.0,2.769231,2.076923
268,08/03/17,Man City,Stoke,0,0,D,0,0,D,N Swarbrick,23.0,30.0,13.0,16.0,1.916667,2.142857,1.083333,1.142857,25.0,30.0,2.083333,2.142857,18.0,14.0,15.0,25.0,1.285714,1.076923,1.071429,1.923077,23.0,12.0,1.642857,0.923077
269,11/03/17,Bournemouth,West Ham,3,2,H,1,1,D,R Madley,21.0,16.0,21.0,31.0,1.615385,1.142857,1.615385,2.214286,18.0,9.0,1.384615,0.642857,15.0,21.0,24.0,22.0,1.071429,1.615385,1.714286,1.692308,18.0,15.0,1.285714,1.153846
270,11/03/17,Everton,West Brom,3,0,H,2,0,H,G Scott,27.0,17.0,10.0,20.0,2.076923,1.214286,0.769231,1.428571,28.0,16.0,2.153846,1.142857,24.0,12.0,17.0,17.0,1.714286,0.923077,1.214286,1.307692,26.0,14.0,1.857143,1.076923
271,11/03/17,Hull,Swansea,2,1,H,0,0,D,A Marriner,17.0,7.0,22.0,31.0,1.307692,0.500000,1.692308,2.214286,16.0,5.0,1.230769,0.357143,21.0,14.0,30.0,29.0,1.500000,1.076923,2.142857,2.230769,17.0,10.0,1.214286,0.769231
272,12/03/17,Liverpool,Burnley,2,1,H,1,1,D,C Pawson,34.0,24.0,12.0,22.0,2.615385,1.714286,0.923077,1.571429,30.0,22.0,2.307692,1.571429,22.0,8.0,12.0,28.0,1.571429,0.615385,0.857143,2.153846,29.0,2.0,2.071429,0.153846
273,18/03/17,Bournemouth,Swansea,2,0,H,1,0,H,M Dean,24.0,16.0,23.0,31.0,1.714286,1.142857,1.642857,2.214286,21.0,9.0,1.500000,0.642857,21.0,15.0,30.0,31.0,1.500000,1.071429,2.142857,2.214286,17.0,10.0,1.214286,0.714286
274,18/03/17,Crystal Palace,Watford,1,0,H,0,0,D,M Atkinson,14.0,21.0,20.0,26.0,1.076923,1.500000,1.538462,1.857143,10.0,15.0,0.769231,1.071429,21.0,12.0,23.0,24.0,1.500000,0.923077,1.642857,1.846154,19.0,12.0,1.357143,0.923077
275,18/03/17,Everton,Hull,4,0,H,1,0,H,P Tierney,30.0,17.0,10.0,20.0,2.142857,1.214286,0.714286,1.428571,31.0,16.0,2.214286,1.142857,19.0,7.0,23.0,31.0,1.357143,0.500000,1.642857,2.214286,19.0,5.0,1.357143,0.357143
276,18/03/17,Stoke,Chelsea,1,2,A,1,1,D,A Taylor,18.0,14.0,15.0,25.0,1.285714,1.000000,1.071429,1.785714,23.0,13.0,1.642857,0.928571,36.0,21.0,8.0,12.0,2.769231,1.500000,0.615385,0.857143,36.0,30.0,2.769231,2.142857
277,18/03/17,Sunderland,Burnley,0,0,D,0,0,D,R Madley,14.0,10.0,26.0,24.0,1.000000,0.769231,1.857143,1.846154,12.0,7.0,0.857143,0.538462,22.0,9.0,12.0,30.0,1.571429,0.642857,0.857143,2.142857,29.0,2.0,2.071429,0.142857
278,18/03/17,West Brom,Arsenal,3,1,H,1,1,D,N Swarbrick,24.0,12.0,17.0,20.0,1.714286,0.857143,1.214286,1.428571,26.0,14.0,1.857143,1.000000,26.0,29.0,13.0,18.0,2.000000,2.230769,1.000000,1.384615,29.0,21.0,2.230769,1.615385
279,18/03/17,West Ham,Leicester,2,3,A,1,3,A,R East,15.0,23.0,24.0,25.0,1.071429,1.642857,1.714286,1.785714,18.0,15.0,1.285714,1.071429,22.0,8.0,18.0,27.0,1.571429,0.615385,1.285714,2.076923,24.0,3.0,1.714286,0.230769
280,19/03/17,Man City,Liverpool,1,1,D,0,0,D,M Oliver,23.0,30.0,13.0,16.0,1.769231,2.142857,1.000000,1.142857,26.0,30.0,2.000000,2.142857,36.0,24.0,13.0,22.0,2.571429,1.714286,0.928571,1.571429,33.0,22.0,2.357143,1.571429
281,19/03/17,Middlesbrough,Man United,1,3,A,0,1,A,J Moss,11.0,8.0,14.0,16.0,0.846154,0.571429,1.076923,1.142857,13.0,9.0,1.000000,0.642857,20.0,19.0,10.0,12.0,1.428571,1.583333,0.714286,1.000000,25.0,24.0,1.785714,2.000000
282,19/03/17,Tottenham,Southampton,2,1,H,2,0,H,A Marriner,33.0,20.0,7.0,13.0,2.357143,1.538462,0.500000,1.000000,38.0,18.0,2.714286,1.384615,14.0,18.0,14.0,20.0,1.166667,1.285714,1.166667,1.428571,18.0,15.0,1.500000,1.071429